<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{/fragments/head}"/>
<body>
<header class="top-header">
    <th:block th:include="~{/fragments/nav}"/>
</header>
<section th:each="doctor: ${doctors}" class="doc">
    <img id="doc-img-list" th:src="${doctor.photoUrl}" alt="Doctor image">
    <div>
        <h2 th:text="'Dr. ' + ${doctor.firstName} + ' ' + ${doctor.lastName}"></h2>
        <p th:text="${doctor.biography}"/>
    </div>
    <a th:if="${@userLoginSession.id != null}" th:href="@{/doctors/appointments/{id}(id=${doctor.id})}">
        <button type="button" class="btn btn-danger">Book an appointment</button>
    </a>
    <a th:if="${@userLoginSession.id == null}" th:href="@{/users/login}">
        <button type="button" class="btn btn-danger">Log in to make an appointment</button>
    </a>
</section>
</body>
</html>