<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{/fragments/head}"/>
<body>
<header id="top" class="header mb-5">
    <th:block th:include="~{/fragments/nav}"/>
</header>
<div class="container">
    <div class="row">
        <div class="hospital-description">
            <h2 th:text="${hospitalName}"/>
            <article>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus atque blanditiis consequatur
                debitis,
                eaque esse hic id ipsam iure iusto maiores mollitia natus porro praesentium quasi ratione reiciendis sit
                vitae!
            </article>
        </div>
        <div class="hospital-img">
            <img th:src="${hospitalImage}" class="rounded float-left" alt="current hospital">
        </div>
        <div>
            <a class="show-doc-btn" th:href="@{/hospital/{id}(id=${hospitalId})}">
                <button type="submit" class="btn btn-danger">Show Available Doctors!</button>
            </a>
        </div>
    </div>
</div>
<th:block th:include="~{/fragments/footer}"/>
</body>
</html>