<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <th:block th:include="/fragments/head" />
  <body>
    <header id="top" class="header mb-5">
      <th:block th:include="~{fragments/nav}" />
    </header>
    <!-- <div id="wrapper" class="container mt-5"> -->
    <div id="first-container" class="mt-5 mr-auto appointment-section">
      <h2 class="my-3">
        Let's Find MyDoc and Book <br />
        Your Appointment!
      </h2>
      <!-- <div class="appointment-details container mt-4"> -->
      <div id="appointment-location" class="my-1.5">
        <select name="location" class="location">
          <option value selected>Choose a location</option>
        </select>
      </div>
      <div id="appointment-specialty" class="my-1.5">
        <select name="specialty" class="specialty">
          <option value selected>Choose a specialty</option>
        </select>
      </div>
      <div id="appointment-hospital">
        <input
          type="text"
          class="hospital-search"
          placeholder="Search a specific Health Center"
        />
      </div>
      <button id="btn-search" type="button" class="btn btn-danger my-1.5">
        Search
      </button>
      <!-- </div> -->
    </div>
    <img
      src="./img/doc-image.jpg"
      class="rounded img-doctor"
      alt="Cartoon image of doctor"
    />
    <!-- </div> -->
    <th:block th:include="~{/fragments/footer}" />
  </body>
</html>
